<h2 class="text-center">Console</h2>
<div ng-controller="ConsoleCtrl as console">
    <div id="console">
        <div ng-repeat="hist in history | reverse">
            You:> {{ hist.command }}
            <br>
            Server:> {{ hist.return }}
        </div>
    </div>
    <div>
        <form novalidate name="consoleForm"  ng-submit="console.sendCommand()">
            <input ng-model="commandModel.command" name="command" class="form-control" title="command" placeholder="enter a command" required></input>
        </form>
    </div>
</div>