  <div>
    <ul class="nav-loc nav nav-pills ">
      <li ng-class="{ active:tab.isSet(1) }">
        <a href class="btn btn-primary" ng-click="nav.setTab(1)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configuration</a>
      </li>
      <li ng-class="{ active:tab.isSet(2) }">
        <a href class="btn btn-primary" ng-click="nav.setTab(2)"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Key Browser</a>
      </li>
      <li ng-class="{ active:tab.isSet(4) }">
        <a href class="btn btn-primary" ng-click="nav.setTab(4)"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Console</a>
      </li>
      <li ng-class="{ active:tab.isSet(3) }">
        <a href class="btn btn-primary" ng-click="nav.setTab(3)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Documentation</a>
      </li>
      <li ng-class="{ active:tab.isSet(3) }">
        <a href="https://github.com/vacoj/PRedisFAngular" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> GitHub Repo</a>
      </li>
    </ul>
</div>
<div>
    <!--  Browser  -->
    <div ng-show="nav.isSet(2)" ng-include="'views/viewer.html'">
    </div>
    <!--  Confg form  -->
    <div config ng-show="nav.isSet(1)" ng-include="'views/config.html'">
    </div>
    <!-- redis command console -->
    <div ng-show="nav.isSet(4)" ng-include="'views/console.html'"></div>
    <!--  Docs -->
    <docs ng-show="nav.isSet(3)" ng-include="'views/docs.html'"></docs>
</div>