<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="nav.setTab(1)">Configuration</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="nav.setTab(2)">Key Browser</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="nav.setTab(3)">Documentation</a>
    </li>
  </ul>

  <!--  Browser  -->
  <div ng-show="nav.isSet(2)" ng-include="'views/viewer.html'">
  </div>

  <!--  Confg form  -->
  <div docs ng-show="nav.isSet(1)" ng-include="'views/config.html'">
  </div>

  <!--  Docs -->
  <docs ng-show="nav.isSet(3)" ng-include="'views/docs.html'"></docs>

</section>