<h2 class="text-center text-shadow">Key Browser</h2>
<div ng-controller="RedisCtrl as redis">
    <div ng-controller="AddNewKVCtrl as addnewform">
        <div class="ctrls-span">
            <a class="btn btn-info buttonbuffer shadow text-shadow" ng-click="redis.refreshAllKeys()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>
            <a href class="btn btn-success buttonbuffer shadow text-shadow" ng-click="addnewform.toggleForm()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Toggle Add New Form</a>
            <a class="btn btn-danger buttonbuffer shadow text-shadow" ng-click="redis.flushAllKeys()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Flush All</a>
        </div>

        <div ng-show="addnewform.show">
            <form class="redis-form" novalidate name="newkvform"  ng-submit="redis.setNewKeyVal(newKeyValModel)">
                <!--  Preview -->
                <h4>Entry to be added:</h4>
                <blockquote>
                    <strong>Key: {{ newKeyValModel.key }} </strong> <br>
                    <cite class="clearfix">Value: {{ newKeyValModel.value }}</cite>
                </blockquote>
                <!--  add new key/value Form -->
                <fieldset class="form-group">
                    <input ng-model="newKeyValModel.key" name="newkey" class="form-control floaty-input" title="new key" placeholder="key" required></input>
                </fieldset>
                <fieldset class="form-group">
                    <textarea ng-model="newKeyValModel.value" name="newval" class="form-control floaty-input" placeholder="value" title="value" required></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-show="newkvform.newkey.$dirty && newkvform.newval.$dirty" type="submit" class="btn btn-primary pull-right" value="Set Key" />
                </fieldset>
            </form>
        </div>
    </div>
    <div class="center-div">
        <!-- PAGINANTION!-->
        <pagination total-items="totalItems" ng-model="currentPage"
          max-size="15" boundary-links="false"
          items-per-page="numPerPage" class="shadow pagination-sm">
        </pagination>
        <!-- pagination end -->
        <table id="redis-view">
            <tr id="firstrow">
                <th class="col-sm-4 text-shadow">Key <input class="search floaty-input" ng-model="searchText" placeholder="search keys" ng-change="redis.filterForKeys(searchText)"/></th>
                <th class="col-sm-4 text-shadow">Value</th>
                <th class="col-sm-3 text-shadow">Controls</th>
            </tr>
            <tr ng-repeat="key in keysList | orderBy: key | filter: paginate" ng-show="!showSearchResults || (showSearchResults && searchResults[key])">
                <td data-th="Key" scroll-trigger="redis.getKeyVal(key)">
                    <span ng-click="redis.getKeyVal(key)">{{ key }}<span>
                    </td>
                    <td data-th="Value" ng-mouseover="redis.getKeyVal(key)">
                        <form role="form" class="redis-form" novalidate name="modifyForm" ng-submit="redis.updateExistingKey(key, redis.updateExistingKey[key])">
                            <input class="form-control" ng-model="redis.updateExistingKey[key]" ng-show="showKVFormFor[key]" placeholder="{{ cachedKeyVals[key].value }}" name="newval" required>
                            <kval ng-show="!showKVFormFor[key]" ng-click="redis.editValueIconClick(key)">{{ cachedKeyVals[key].value }}</kval>
                        </form>
                    </td>
                    
                    <td data-th="Controls">
                        <kval ng-click="redis.getKeyValClick(key)">
                        <span class="glyphicon glyphicon-refresh shadow" aria-hidden="true"></span>
                        </kval>
                        <kval ng-click="redis.editValueIconClick(key)">
                        <span class="glyphicon glyphicon-pencil shadow" aria-hidden="true"></span>
                        </kval>
                        <kval ng-click="redis.deleteKVPair(key)">
                        <span class="glyphicon glyphicon-trash shadow" aria-hidden="true"></span>
                        </kval>
                        <kval ng-click="redis.showExpForm(key)">
                        <span class="glyphicon glyphicon-time shadow" aria-hidden="true"></span>
                        </kval>
                        <div>
                            <form role="form" class="col-sm-4 redis-form" novalidate name="expForm" ng-submit="redis.setExpSecs(key, cachedKeyVals[key].ctr)">
                                <input class="" type="number" ng-model="cachedKeyVals[key].ctr" maxlength="9" ng-show="showExpFormFor[key]" placeholder="{{ cachedKeyVals[key].ctr }}" name="expCounter" required>
                                <kval ng-show="!showExpFormFor[key]" ng-click="redis.showExpForm(key)">{{ cachedKeyVals[key].ctr }}</kval>
                            </form>
                        </div>
                    </td>
                </tr>
            </span>
        </table>
         
    </div>
</div>