<h2 class="text-center">Key Browser</h2>
<div ng-controller="RedisCtrl as redis">
    <div ng-controller="AddNewKVCtrl as addnewform">
        <div class="ctrls-span">
            <a class="btn btn-info buttonbuffer" ng-click="redis.refreshAllKeys()">Refresh</a>
            <a href class="btn btn-success buttonbuffer" ng-click="addnewform.toggleForm()">Toggle Add New Form</a>
            <a class="btn btn-danger buttonbuffer" ng-click="redis.flushAllKeys()">Flush All</a>
        </div>
        <div class="totalkeys">
        </div>
        <div ng-show="addnewform.show">
            <form class="redis-form" novalidate name="newkvform"  ng-submit="redis.setNewKeyVal(newKeyValModel)">
                <!--  Preview -->
                <h4>Entry to be added:</h4>
                <blockquote>
                    <strong>Key: {{ newKeyValModel.key }} </strong> <br>
                    <cite class="clearfix">Value: {{ newKeyValModel.value }}</cite>
                </blockquote>
                <!--  add new key/value Form -->
                <fieldset class="form-group">
                    <input ng-model="newKeyValModel.key" name="newkey" class="form-control" title="new key" placeholder="key" required></input>
                </fieldset>
                <fieldset class="form-group">
                    <textarea ng-model="newKeyValModel.value" name="newval" class="form-control" placeholder="value" title="value" required></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-show="newkvform.newkey.$dirty && newkvform.newval.$dirty" type="submit" class="btn btn-primary pull-right" value="Set Key" />
                </fieldset>
            </form>
        </div>
    </div>
    <table class="racetimes">
        <tr id="firstrow">
            <th>Key <input class="search" ng-model="searchText" placeholder="search keys" ng-change="redis.filterForKeys(searchText)"/></th>
            <th>Value</th>
            <th>Controls</th>
        </tr>
        <tr ng-repeat="key in keysList | orderBy: key" ng-show="!showSearchResults || (showSearchResults && searchResults[key])">
            <td data-th="Key" scroll-trigger="redis.getKeyVal(key)">
                <span ng-click="redis.getKeyVal(key)">{{ key }}<span>
                </td>
                <td data-th="Value" ng-mouseover="redis.getKeyVal(key)">
                    <form role="form" class="redis-form" novalidate name="modifyForm" ng-submit="redis.updateExistingKey(key, redis.updateExistingKey[key])">
                        <input class="form-control" ng-model="redis.updateExistingKey[key]" ng-show="showKVFormFor[key]" placeholder="{{ cachedKeyVals[key].value }}" name="newval" required>
                        <kval ng-show="!showKVFormFor[key]" ng-click="redis.editValueIconClick(key)">{{ cachedKeyVals[key].value }}</kval>
                    </form>
                </td>
                
                <td data-th="Controls">
                    <kval ng-click="redis.getKeyValClick(key)">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </kval>
                    <kval ng-click="redis.editValueIconClick(key)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </kval>
                    <kval ng-click="redis.deleteKVPair(key)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </kval>
                    <kval ng-click="redis.showExpForm(key)">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </kval>
                    <form role="form" class="redis-form" novalidate name="expForm" ng-submit="redis.setExpSecs(key, cachedKeyVals[key].ctr)">
                        <input class="form-control" type="number" ng-model="cachedKeyVals[key].ctr" ng-show="showExpFormFor[key]" placeholder="{{ cachedKeyVals[key].ctr }}" name="expCounter" required>
                        <kval ng-show="!showExpFormFor[key]" ng-click="redis.showExpForm(key)">{{ cachedKeyVals[key].ctr }}</kval>
                    </form>   
                </td>
            </tr>
        </table>
    </div>