
* {font-family: Helvetica Neue, Arial, sans-serif; }
h1, table { text-align: left; }
table {border-collapse: collapse;  width: 85%; margin: 0 auto 5rem;}
th, td { padding: .5rem; font-size: 1.3rem; }
tr {background: #434E56; }
tr, td { transition: .1s ease-in; align-content: left;} 
tr:first-child {background: gray; }
tr:nth-child(even) { background: #434E56; }
td:empty {background: silver; }
tr:hover:not(#firstrow), tr:hover td:empty {background: #0E4C7F; pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.15); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}

div .totalkeys {
  text-align: center;

}

div .ctrls-span {
  text-align: center;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%
}

.redis-form input.ng-invalid.ng-dirty {
  outline: red;
  background-color: #FA787E;
}

.redis-form textarea.ng-invalid.ng-dirty {
  outline: red;
  background-color: #FA787E;
}

.redis-form textarea.ng-valid.ng-dirty {
  outline: green;
  background-color: #78FA89;
}

.redis-form input.ng-valid.ng-dirty {
    outline: green;
    background-color: #78FA89;
  }

kval {
    margin-right: 10px;
    margin-left: 10px;
}

input.search {
    margin-left: 10px;
    margin-right: 10px;
}

input.keychange {

}
input.exp-ttl {

}

body {
    color: #9AB1D4;
    background-color: #434E56;
    margin-left: 15px;
    margin-right: 15px;
}

a.buttonbuffer {
    margin-left: 10px;
    margin-right: 10px;
}

#console {
    border-radius: 15px;
    margin-top: 76px;
    padding: 20px; 
    width: 95%;
    height: 60%;
    position: absolute;
    color: lightgreen;
    overflow-y: auto;
    overflow: hidden;
    background-color: black;
  }   

/*
.console-terminal {
    position: absolute;
    align-self: center;
    color: lightgreen;
    overflow-y: auto;
    overflow: hidden;
    background-color: black;
    width: 80%;
    height: 50%;
}
*/

