<!doctype html>
<html lang="en" ng-csp="" ng-app="predfangy" ng-init="showkvf=false">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>PRedisFAngular</title>
		<meta name="description" content="A front-end for Redis build with Angular">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!--link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"/-->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/style/predfangy.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/angular-csp.css" />
	</head>
	<body class="main-wrapper">
		<div class="center-nav">
			<div>
				<ul class="nav-loc nav nav-pills center-pills">
					<li ng-class="{ active:tab.isSet(1) }">
						<a href class="btn btn-primary" ng-click="nav.setTab(1)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configuration</a>
					</li>
					<li ng-class="{ active:tab.isSet(2) }">
						<a href class="btn btn-primary" ng-click="nav.setTab(2)"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Key Browser</a>
					</li>
					<li ng-class="{ active:tab.isSet(4) }">
						<a href class="btn btn-primary" ng-click="nav.setTab(4)"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Console</a>
					</li>
					<li ng-class="{ active:tab.isSet(3) }">
						<a href class="btn btn-primary" ng-click="nav.setTab(3)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Documentation</a>
					</li>
					<li ng-class="{ active:tab.isSet(3) }">
						<a href="https://github.com/vacoj/PRedisFAngular" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> GitHub Repo</a>
					</li>
				</ul>
			</div>
			<nav-tabs>
			</nav-tabs>
		</div>
	</body>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-route.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
</html>